/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

/* Normalizer */
@import url('./normalize.css');

/* Modules */
@import url('./blaze.css');

/* Stylesheets */
@import url('./about.css');
@import url('./projectModal.css');
@import url('./projects.css');
@import url('./slider.css');

html {
    --c1: #122C34;
    --c2: #224870;
    --c3: #2A4494;
    --c4: #4EA5D9;
    --c5: #44CFCB;
    --tag-bg: #FF9901;
    --grey-btn: #393838;
    --grey-btn-hover: #494949;

    color: black;
    font-family: 'Inter', sans-serif;
}

* {
    transition-property: background-color, background-image, border-color;
    transition-duration: .5s;
    transition-timing-function: ease;
}

/* Reset of body & title tags margin */
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    background: var(--c1) url(../image/TahitiTrouble_Splashart.png) center center/cover no-repeat;
    backdrop-filter: blur(3px) brightness(75%);
}

.scroll-wrapper {
    box-sizing: border-box;
    height: 100vh;

    overflow-y: scroll;
    scroll-behavior: smooth;
}

main {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    
    margin: auto;
    padding: 1em;

    background: linear-gradient(180deg, var(--c1) 0%, var(--c2) 100%);
}

.scroll-wrapper section {margin-bottom: 30px;}
.scroll-wrapper section:first-child {padding-top: 10px;}
.scroll-wrapper section:last-child {margin-bottom: 0;}

.tag {
    display: inline-block;
    padding: .2em .4em;
    background-color: var(--tag-bg);
    border-radius: 15px;
    margin: 5px;
}

button.up {
    all: unset;

    display: none;

    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: rotate(-90deg);

    position: fixed;
    bottom: 20px;
    right: 30px;

    font-size: 2.5em;
    text-align: center;
    overflow: hidden;
    background-color: var(--c5);
    cursor: pointer;
}

button.up span {
    display: inline-block;
    position: relative;
    top: -2px;
}

button.up:focus-visible {outline: -webkit-focus-ring-color auto 1px;}

button.up.active {display: block;}

@media (width >= 1024px ) {
    .tag {font-size: 25px;}
    .scroll-wrapper {padding: 1em 2em;}
    main {border-radius: 15px;}
}