.filters,
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    font-size: 1.3em;
}

.filters {
    border-radius: 8px;
    padding: .5em .75em;

    margin-bottom: 15px;
    
    background-color: var(--c4);
}

.filters #search-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.filters #search,
.filters select {
    margin: 5px 0;
    padding: 0.1em 0.2em;
    border-radius: 15px;
}

.filters #search {
    width: 100%;
    padding: 0.25em 0.3em;
    border: #8a8a8a 1px solid;
}

.project-list article {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 8px;
    padding: .5em .75em;
    
    background-color: var(--c4);
    cursor: pointer;

    transition: all .1s ease;
}

.project-list article:hover,
.project-list article:focus,
.project-list article:active {
    transform: scale(1.01) rotate(3deg);
}

.project-list article .project-picture-wrapper {
    aspect-ratio: 16 / 9;
    margin-bottom: 5px;
}

.project-list article img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: grey;
    object-fit: cover;
}

.project-list article h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.8em;
}

@media (width >= 768px ) {
    .filters #search {width: 85%;}
    .project-list article {max-width: 350px;}
}